<table class="table table-inverse">
  <tr>
    <td>Variable string</td>
    <td>{{nombre}}</td>
  </tr>
    <tr>
        <td>Nombre</td>
        <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
        <td>Números</td>
        <td>{{ nota +100}}</td>
    </tr>
</table>
<button class="btn btn-primary"
        (click)="cambiar_nombre()"
        [disabled]="nombre.length==0">Cambiar nombre</button>
<br><br>
<hr>
<input class="form-control" placeholder="Escriba nombre" [(ngModel)]="nombre">
