<!--<p>-->
  <!--{{_ms.mutantes | json}}-->
  <!---->
<!--</p>-->

<div class="card-deck">
    <div class="card" *ngFor="let mutante of _ms.mutantes">
        <div class="card-block">
            <h4 class="card-title">{{mutante.nombre}}</h4>
            <p>{{mutante.descripcion}}</p>
        </div>
    </div>
</div>
