<h1 *ngIf="existo">Existo</h1>
<h1 *ngIf="!existo">No existo</h1>

<button class="btn btn-primary" (click)="existo = !existo">Cambiar</button>
<hr>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let mutante of mutantes;let i = index">
        {{i+1}} {{mutante}}
    </li>
</ul>
{{mutantes[0]}}