<app-navbar></app-navbar>
<div class="container">
  <h1>Hola <small>{{nombre}}</small></h1>
    <!--<app-variables></app-variables>-->
    <!--<app-atributos></app-atributos>-->
    <!--<app-estructurales></app-estructurales>-->
    <app-http></app-http>
</div>

